// Specific CSS for your home-page
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 4%;
  border-radius: 50%;
}

.search {
  width: 50%;
}

.search-form-control {
 margin-top: 1%;
 margin-bottom: 5px;
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

.card-car {
  margin-top: 16px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-car > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-car h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-car p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-car .card-car-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-car-infos .card-car-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.vide {
  margin-top: 30px;
  margin-bottom: 400px;
}

.footer {
  background: #F4F4F4;
  display: flex;
 align-items: end;
  justify-content: space-between;
  height: 100px;
  padding: 50px 10px;
  color: rgba(0,0,0,0.3);
  margin-bottom: 1;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.description {
  margin-top: 16px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.picture_details{
  height: 200px;
  width: 30%;
  object-fit: fill;
}

.actions-in-show{
  display: flex;
}

.card-product {
  margin-top: 16px;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.form-new {
  margin-top: 100px;
  width: 50%;
}